<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div>
    sid: {{ message.sid }}
  </div>
  <div>
    message: {{ message }}
  </div>
</body>
</html>
{% endautoescape %}
