<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script type="text/javascript"
    src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
  <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  </script>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <title>Hello Client Monkey</title>
</head>
<body>
<script type="text/javascript">
var connection = null;

Twilio.Device.setup("{{ token }}");

Twilio.Device.ready(function (device) {
  $("#log").text("Ready");
});

Twilio.Device.error(function (error) {
  $("#log").text("Error: " + error.message);
});

Twilio.Device.connect(function (conn) {
  $("#log").text("Successfully established call");
});

Twilio.Device.disconnect(function (conn) {
  $("#log").text("Call ended");
});

Twilio.Device.incoming(function (conn) {
  connection = conn;
  $("#log").text("Incoming connection from " + conn.parameters.From + " press accept");
});

function call() {
  params = {"number": $("#number").val()};
  connection = Twilio.Device.connect(params);
}

function hangup() {
  Twilio.Device.disconnectAll();
  connection = null;
}

function accept() {
  // accept the incoming connection and start two-way audio
  connection.accept()
}

function send_digits() {
  var digits = $('#digits').val();
  connection.sendDigits(digits);
}

// Channel

function onMessage(message) {
  console.log(message);
  $('#log').text("message: " + message.data);
}

channel_token = "{{ channel_token }}"

console.log(channel_token);
var channel = new goog.appengine.Channel(channel_token);
var socket = channel.open();

//Assign our handler function to the open socket
socket.onmessage = onMessage;

</script>
  <p>
     Text or call +1-506-300-2682 to try this out.  The call goes out as +1-855-571-0222.
  </p>

  <div>
    <button class="call" onclick="call();">
    Call
    </button>
    <button class="hangup" onclick="hangup();">
    Hangup
    </button>
    <input type="text" id="number" name="number"
      placeholder="Enter a phone number to call"/>
  </div>

  <div>
    <input id="digits" placeholder="Enter digits to send"/>
    <button onclick="send_digits();">
      Send Digits
    </button>
  </div>

  <div id="log">Loading pigeons...</div>
  <div>
  <button class="call" onclick="accept();">
  Accept
  </button>
  </div>

  <div>
    {{ session_key }}
  </div>

</body>
</html>
{% endautoescape %}
